.HomePage span {
  color: var(--main-bg-color);
}
.HomePage p {
  text-align: center;
  margin-bottom: 20px;
}

.HomePage h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 1.3em;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 10px;
}
